In [1]:
import pandas as pd

<h1>Data Overview</h1>

In [2]:
df_pokemon = pd.read_csv('Pokemon.csv')

In [3]:
df_pokemon.shape

(800, 13)

In [4]:
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [5]:
df_pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
df_pokemon.isna().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [7]:
df_pokemon.duplicated().sum()

0

In [8]:
df_pokemon.nunique()

#             721
Name          800
Type 1         18
Type 2         18
Total         200
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

<h1>Descriptive Statistics</h1>

In [9]:
df_pokemon.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

<h1>Type1 and Type2 Analysis</h1>

In [10]:
df_pokemon["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [11]:
df_pokemon["Type 2"].value_counts()

Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: count, dtype: int64

In [12]:
df_pokemon["is_Dual"] = df_pokemon["Type 2"].notna()
dual_percentage = df_pokemon["is_Dual"].mean() * 100
dual_percentage

51.74999999999999

In [13]:
df_pokemon["is_Dual"].value_counts()

is_Dual
True     414
False    386
Name: count, dtype: int64

In [14]:
df_pokemon.groupby("Type 1")["Total"].mean().sort_values(ascending = False)

Type 1
Dragon      550.531250
Steel       487.703704
Flying      485.000000
Psychic     475.947368
Fire        458.076923
Rock        453.750000
Dark        445.741935
Electric    443.409091
Ghost       439.562500
Ground      437.500000
Ice         433.458333
Water       430.455357
Grass       421.142857
Fighting    416.444444
Fairy       413.176471
Normal      401.683673
Poison      399.142857
Bug         378.927536
Name: Total, dtype: float64

In [15]:
df_pokemon.groupby("Type 2")["Total"].mean().sort_values(ascending = False)

Type 2
Dragon      526.166667
Fighting    525.846154
Ice         525.714286
Fire        506.250000
Steel       485.227273
Dark        484.400000
Psychic     479.060606
Electric    455.333333
Flying      452.546392
Ground      444.342857
Rock        434.642857
Ghost       430.714286
Water       418.214286
Fairy       417.956522
Normal      411.500000
Grass       408.920000
Poison      396.500000
Bug         393.333333
Name: Total, dtype: float64

In [16]:
df_pokemon.groupby("Type 1")[["HP", "Attack", "Defense","Sp. Atk", "Sp. Def", "Speed"]].mean().round(1).sort_values(by = "HP", ascending = False)

            HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 1
Dragon    83.3   112.1     86.4     96.8     88.8   83.0
Normal    77.3    73.5     59.8     55.8     63.7   71.6
Fairy     74.1    61.5     65.7     78.5     84.7   48.6
Ground    73.8    95.8     84.8     56.5     62.8   63.9
Water     72.1    74.2     72.9     74.8     70.5   66.0
Ice       72.0    72.8     71.4     77.5     76.3   63.5
Flying    70.8    78.8     66.2     94.2     72.5  102.5
Psychic   70.6    71.5     67.7     98.4     86.3   81.5
Fighting  69.9    96.8     65.9     53.1     64.7   66.1
Fire      69.9    84.8     67.8     89.0     72.2   74.4
Grass     67.3    73.2     70.8     77.5     70.4   61.9
Poison    67.2    74.7     68.8     60.4     64.4   63.6
Dark      66.8    88.4     70.2     74.6     69.5   76.2
Rock      65.4    92.9    100.8     63.3     75.5   55.9
Steel     65.2    92.7    126.4     67.5     80.6   55.3
Ghost     64.4    73.8     81.2     79.3     76.5   64.3
Electric  59.8    69.1     66.3     90.0     73.7   84.5
Bug       56.9    71.0     70.7     53.9     64.8   61.7

In [17]:
df_pokemon.groupby("Type 2")[["HP", "Attack", "Defense","Sp. Atk", "Sp. Def", "Speed"]].mean().round(1).sort_values(by = "HP", ascending = False)

            HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 2
Ice       90.0    98.0     85.6     92.6     84.8   74.6
Electric  88.2    72.7     68.3     81.2     73.5   71.5
Dragon    82.2    94.4     87.1     98.5     83.4   80.6
Fighting  79.5   112.8     82.5     81.3     82.4   87.4
Ground    77.2    89.9     90.3     65.5     66.7   54.7
Dark      75.6   109.8     72.0     81.8     69.8   75.4
Psychic   72.2    74.7     87.0     88.0     87.6   69.5
Flying    71.4    80.3     68.3     75.6     71.2   85.7
Fire      71.2    81.2     80.2    110.4     83.5   79.7
Rock      68.1    84.0    126.9     51.1     68.6   36.0
Steel     64.6    92.6    104.6     77.7     86.3   59.4
Fairy     64.3    61.6     73.9     75.0     82.0   61.2
Normal    63.5    52.8     53.8     88.0     64.2   89.2
Water     62.7    70.1     85.1     74.5     68.6   57.1
Grass     62.6    74.2     80.1     60.2     74.5   57.3
Ghost     59.1    84.1     82.3     73.2     78.1   53.9
Poison    58.8    67.6     59.6     74.0     69.9   66.6
Bug       53.3    90.0     80.0     46.7     61.7   61.7

In [18]:
strongest_type1 = df_pokemon.groupby("Type 1")["Total"].mean().idxmax()
weakest_type1 = df_pokemon.groupby("Type 1")["Total"].mean().idxmin()
print(strongest_type1)
print(weakest_type1)

Dragon
Bug

In [19]:
df_pokemon[df_pokemon["Type 1"] == strongest_type1][["Name", "Type 1", "Total"]]

                        Name  Type 1  Total
159                  Dratini  Dragon    300
160                Dragonair  Dragon    420
161                Dragonite  Dragon    600
365                  Altaria  Dragon    490
366      AltariaMega Altaria  Dragon    590
406                    Bagon  Dragon    300
407                  Shelgon  Dragon    420
408                Salamence  Dragon    600
409  SalamenceMega Salamence  Dragon    700
417                   Latias  Dragon    600
418        LatiasMega Latias  Dragon    700
419                   Latios  Dragon    600
420        LatiosMega Latios  Dragon    700
425                 Rayquaza  Dragon    680
426    RayquazaMega Rayquaza  Dragon    780
491                    Gible  Dragon    300
492                   Gabite  Dragon    410
493                 Garchomp  Dragon    600
494    GarchompMega Garchomp  Dragon    700
671                     Axew  Dragon    320
672                  Fraxure  Dragon    410
673                  Haxorus  Dragon    540
682                Druddigon  Dragon    485
706                 Reshiram  Dragon    680
707                   Zekrom  Dragon    680
710                   Kyurem  Dragon    660
711       KyuremBlack Kyurem  Dragon    700
712       KyuremWhite Kyurem  Dragon    700
774                    Goomy  Dragon    300
775                  Sliggoo  Dragon    452
776                   Goodra  Dragon    600
794         Zygarde50% Forme  Dragon    600

In [20]:
strongest_type2 = df_pokemon.groupby("Type 2")["Total"].mean().idxmax()
weakest_type2 = df_pokemon.groupby("Type 2")["Total"].mean().idxmin()
print(strongest_type2)
print(weakest_type2)

Dragon
Bug

In [21]:
df_pokemon["Type_Combo"] = df_pokemon["Type 1"] + "/" + df_pokemon["Type 2"].fillna("None")
df_pokemon["Type_Combo"].value_counts()

Type_Combo
Normal/None       61
Water/None        59
Psychic/None      38
Grass/None        33
Fire/None         28
                  ..
Electric/Grass     1
Steel/Dragon       1
Fire/Steel         1
Psychic/Fire       1
Fire/Water         1
Name: count, Length: 154, dtype: int64

In [22]:
df_pokemon.groupby("Type_Combo")["Total"].mean().sort_values(ascending = False)

Type_Combo
Ground/Fire        770.000000
Dragon/Ice         686.666667
Ghost/Dragon       680.000000
Steel/Dragon       680.000000
Dragon/Electric    680.000000
                      ...
Normal/Fairy       330.000000
Poison/Water       320.000000
Bug/None           289.705882
Bug/Water          269.000000
Bug/Ghost          236.000000
Name: Total, Length: 154, dtype: float64

In [23]:
df_pokemon.groupby("Type_Combo")["Total"].mean().idxmax()

'Ground/Fire'

In [24]:
df_pokemon.groupby("Type_Combo")["Total"].mean().idxmin()

'Bug/Ghost'

In [25]:
strongest_name = df_pokemon.loc[df_pokemon["Total"].idxmax(), "Name"]
weakest_name = df_pokemon.loc[df_pokemon["Total"].idxmin(), "Name"]
print(strongest_name)
print(weakest_name)

MewtwoMega Mewtwo X
Sunkern

In [26]:
df_pokemon.iloc[df_pokemon["Total"].idxmax(), [1,4,5,6,7,8,9,10]]

Name       MewtwoMega Mewtwo X
Total                      780
HP                         106
Attack                     190
Defense                    100
Sp. Atk                    154
Sp. Def                    100
Speed                      130
Name: 163, dtype: object

In [27]:
attack = df_pokemon.loc[df_pokemon["Attack"].idxmax(), ["Name", "Total"]]
defense = df_pokemon.loc[df_pokemon["Defense"].idxmax(), ["Name", "Total"]]
sp_attack = df_pokemon.loc[df_pokemon["Sp. Atk"].idxmax(), ["Name", "Total"]]
sp_defense = df_pokemon.loc[df_pokemon["Sp. Def"].idxmax(), ["Name", "Total"]]
speed = df_pokemon.loc[df_pokemon["Speed"].idxmax(), ["Name", "Total"]]
print(attack)
print(defense)
print(sp_attack)
print(sp_defense)
print(speed)

Name     MewtwoMega Mewtwo X
Total                    780
Name: 163, dtype: object
Name     SteelixMega Steelix
Total                    610
Name: 224, dtype: object
Name     MewtwoMega Mewtwo Y
Total                    780
Name: 164, dtype: object
Name     Shuckle
Total        505
Name: 230, dtype: object
Name     DeoxysSpeed Forme
Total                  600
Name: 431, dtype: object

In [28]:
df_pokemon.groupby("Type 1")["Speed"].mean().sort_values()

Type 1
Fairy        48.588235
Steel        55.259259
Rock         55.909091
Bug          61.681159
Grass        61.928571
Ice          63.458333
Poison       63.571429
Ground       63.906250
Ghost        64.343750
Water        65.964286
Fighting     66.074074
Normal       71.551020
Fire         74.442308
Dark         76.161290
Psychic      81.491228
Dragon       83.031250
Electric     84.500000
Flying      102.500000
Name: Speed, dtype: float64

In [29]:
df_pokemon.groupby("Type 2")["Speed"].mean().sort_values()

Type 2
Rock        36.000000
Ghost       53.857143
Ground      54.657143
Water       57.142857
Grass       57.320000
Steel       59.363636
Fairy       61.217391
Bug         61.666667
Poison      66.647059
Psychic     69.484848
Electric    71.500000
Ice         74.642857
Dark        75.350000
Fire        79.666667
Dragon      80.555556
Flying      85.721649
Fighting    87.384615
Normal      89.250000
Name: Speed, dtype: float64

In [30]:
single_mean = df_pokemon[df_pokemon["is_Dual"] == False]["Total"].mean()
dual_mean = df_pokemon[df_pokemon["is_Dual"] == True]["Total"].mean()
print("Single-type mean:", single_mean)
print("Dual-type mean:", dual_mean)

Single-type mean: 412.01554404145077
Dual-type mean: 456.6280193236715

<h1>Generation analysis</h1>

In [31]:
df_pokemon["Generation"].nunique()

6

In [32]:
df_pokemon["Generation"].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [33]:
df_pokemon["Generation"].value_counts().sort_index()

Generation
1    166
2    106
3    160
4    121
5    165
6     82
Name: count, dtype: int64

In [34]:
df_pokemon.groupby("Generation")["Total"].mean().sort_values(ascending= False)

Generation
4    459.016529
6    436.378049
3    436.225000
5    434.987879
1    426.813253
2    418.283019
Name: Total, dtype: float64

In [35]:
generation_map = {
    1: "Kanto (1)",
    2: "Johto (2)",
    3: "Hoenn (3)",
    4: "Sinnoh (4)",
    5: "Unova (5)",
    6: "Kalos (6)"
}
df_pokemon["Generation"] = df_pokemon["Generation"].map(generation_map)

In [36]:
df_pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,is_Dual,Type_Combo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Kanto (1),False,True,Grass/Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Kanto (1),False,True,Grass/Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Kanto (1),False,True,Grass/Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Kanto (1),False,True,Grass/Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Kanto (1),False,False,Fire/None
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,Kanto (1),False,False,Fire/None
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,Kanto (1),False,True,Fire/Flying
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,Kanto (1),False,True,Fire/Dragon
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,Kanto (1),False,True,Fire/Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,Kanto (1),False,False,Water/None

In [37]:
df_pokemon.groupby("Generation")["Type 1"].value_counts()

Generation  Type 1
Hoenn (3)   Water     27
            Normal    18
            Grass     13
            Steel     12
            Dragon    12
                      ..
Unova (5)   Ice        6
            Ghost      5
            Steel      4
            Poison     2
            Flying     2
Name: count, Length: 98, dtype: int64

In [38]:
df_pokemon.groupby("Generation")["Type 1"].agg(lambda x: x.value_counts().idxmax())

Generation
Hoenn (3)      Water
Johto (2)      Water
Kalos (6)      Ghost
Kanto (1)      Water
Sinnoh (4)    Normal
Unova (5)     Normal
Name: Type 1, dtype: object

In [39]:
df_pokemon.groupby("Generation")[["Attack", "Speed", "Defense"]].mean()

               Attack      Speed    Defense
Generation
Hoenn (3)   81.625000  66.925000  74.100000
Johto (2)   72.028302  61.811321  73.386792
Kalos (6)   75.804878  66.439024  76.682927
Kanto (1)   76.638554  72.584337  70.861446
Sinnoh (4)  82.867769  71.338843  78.132231
Unova (5)   82.066667  68.078788  72.327273

In [40]:
df_pokemon.groupby("Generation")["Legendary"].sum()

Generation
Hoenn (3)     18
Johto (2)      5
Kalos (6)      8
Kanto (1)      6
Sinnoh (4)    13
Unova (5)     15
Name: Legendary, dtype: int64

In [41]:
df_pokemon.groupby("Generation")["is_Dual"].sum()

Generation
Hoenn (3)     82
Johto (2)     55
Kalos (6)     50
Kanto (1)     78
Sinnoh (4)    67
Unova (5)     82
Name: is_Dual, dtype: int64

<h1>Legendary Analysis</h1>

In [43]:
df_pokemon["Legendary"].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

In [49]:
df_pokemon["Legendary"].sum()

65

In [60]:
legendary_percentage = df_pokemon["Legendary"].mean() * 100
print(f"{legendary_percentage}%")

8.125%

In [63]:
df_pokemon.groupby("Type 1")["Legendary"].sum().sort_values(ascending = False)

Type 1
Psychic     14
Dragon      12
Fire         5
Water        4
Ground       4
Electric     4
Steel        4
Rock         4
Grass        3
Dark         2
Ghost        2
Ice          2
Normal       2
Flying       2
Fairy        1
Poison       0
Fighting     0
Bug          0
Name: Legendary, dtype: int64

In [87]:
df_pokemon[df_pokemon["Legendary"] == True]["Type 1"].value_counts().idxmax()

'Psychic'

In [68]:
df_pokemon.groupby("Legendary")["Total"].mean()

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

In [73]:
df_pokemon[df_pokemon["Legendary"] == True]["Total"].mean() - df_pokemon[df_pokemon["Legendary"] == False]["Total"].mean()

220.1710099424385

In [77]:
df_pokemon[df_pokemon["Legendary"] == True][["Attack","Speed","Defense"]].mean()

Attack     116.676923
Speed      100.184615
Defense     99.661538
dtype: float64

In [93]:
df_pokemon.iloc[df_pokemon[df_pokemon["Legendary"] == True]["Total"].idxmax()]

#                             150
Name          MewtwoMega Mewtwo X
Type 1                    Psychic
Type 2                   Fighting
Total                         780
HP                            106
Attack                        190
Defense                       100
Sp. Atk                       154
Sp. Def                       100
Speed                         130
Generation              Kanto (1)
Legendary                    True
is_Dual                      True
Type_Combo       Psychic/Fighting
Name: 163, dtype: object